.cabecalho {
    background-color: #d1008b;
    color:rgb(255, 255, 255) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
  }

.cabecalho-imagem {
   width: 20%;
}

